# Turn rewrite engine on
Options +FollowSymlinks
RewriteEngine on

# map neat URL to internal URL
RewriteRule ^group/list/$   RestController.php?view=all [nc,qsa]
RewriteRule ^group/list/([0-9]+)/$   RestController.php?view=single&id=$1 [nc,qsa]
RewriteRule ^group/list_by_name/([A-Za-z0-9]+)/$   RestController.php?view=single_by_name&group_name=$1 [nc,qsa]
RewriteRule ^group/invite/create/([0-9]+)/([\+a-zA-Z0-9-_.]+)/$   RestController.php?view=invite_create&inviter_id=$1&name=$2 [nc,qsa]
RewriteRule ^group/invite/check/([A-Za-z0-9]+)/$   RestController.php?view=invite_check&user=$1 [nc,qsa]
RewriteRule ^group/invite/accept/([0-9]+)/$   RestController.php?view=invite_accept&invite=$1 [nc,qsa]
RewriteRule ^group/invite/deny/([0-9]+)/$   RestController.php?view=invite_deny&invite=$1 [nc,qsa]
RewriteRule ^group/create/([A-Za-z0-9]+)/$  RestController.php?view=create&group_name=$1 [nc,qsa]
RewriteRule ^group/hasGroup/([0-9]+)/$  RestController.php?view=hasGroup&user=$1 [nc,qsa]
RewriteRule ^group/join/([0-9]+)/([0-9]+)/$  RestController.php?view=join&group=$1&user=$2 [nc,qsa]
RewriteRule ^group/leave/([A-Za-z0-9]+)/$  RestController.php?view=leave&user=$1 [nc,qsa]
RewriteRule ^group/score/get/([0-9]+)/$  RestController.php?view=score_get&group_id=$1 [nc,qsa]
RewriteRule ^group/score/top/$  RestController.php?view=score_top [nc,qsa]
RewriteRule ^group/score/([0-9]+)/([0-9]+)/$  RestController.php?view=score_insert&group_id=$1&score=$2 [nc,qsa]
RewriteRule ^group/list_by_user_id/([0-9]+)/$   RestController.php?view=single_by_user_id&id=$1 [nc,qsa]
RewriteRule ^user/create/([\+a-zA-Z0-9-_.]+)/([a-zA-Z0-9-_.]+@[a-zA-Z0-9-_.]+)/$   RestController.php?view=create_user&name=$1&email=$2 [nc,qsa]






