# Turn rewrite engine on
Options +FollowSymlinks
RewriteEngine on

# map neat URL to internal URL
RewriteRule ^group/list/$   RestController.php?view=all [nc,qsa]
RewriteRule ^group/list/([A-Za-z0-9]+)/$   RestController.php?view=single&id=$1 [nc,qsa]
RewriteRule ^group/create/([A-Za-z0-9]+)/$  RestController.php?view=create&group_name=$1 [nc,qsa]
RewriteRule ^group/hasGroup/([A-Za-z0-9]+)/$  RestController.php?view=hasGroup&user=$1 [nc,qsa]
RewriteRule ^group/join/([A-Za-z0-9]+)/([A-Za-z0-9]+)/$  RestController.php?view=join&group_name=$1&user=$2 [nc,qsa]
RewriteRule ^group/leave/([A-Za-z0-9]+)/$  RestController.php?view=leave&user=$1 [nc,qsa]



